/* stylelint-disable groundhog/no-prefixes */

// TODO
// These are just some debug styles.
// We need to override them once ngx-groundhog has advanced.

* { box-sizing: border-box; }

*::after,
*::before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BerninaSans', 'Open Sans', sans-serif;
  color: #454646;
  counter-reset: section;
}

a {
  text-decoration: none;
  color: #00a1b2;
  transition: color 100ms ease-out;
}

a:hover {
  color: #00848e;
  text-decoration: underline;
}

.demo-content {
  border-top: 2px solid #ccc;
  margin: 16px;
}
/* stylelint-enable */
